*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style:none;
}

body{
    background-image: url(./img/Fundo.jpg);/*imagem de fundo*/
    background-size: 100% auto;/*tamanho dda image 100% / auto deixa a tela automatica*/
    background-position: top center;/*posiciona a imagem no topo e centralizada*/
    background-repeat: no-repeat;/*imagem de fundo não ira se repetir*/
    background-color:#121214;/*cor da imagem de fundo*/
}

body *{
    font-family: 'Montserrat', sans-serif ;/*fonte do texto*/
    line-height: 160%;/*espaço entre as linhas / espaçamento vertical*/
}  

header{
    padding-top: 30px;/*espaçamento do cabeçalho com o topo do site*/
    height:calc(120px + 32px);
}

header div{
    width: 120px;/*largura da imagem*/
    margin: auto;/*cantraliza automaticamente*/
    background: linear-gradient(90deg, rgba(136,131,226,1) 26%, rgba(0,212,255,1) 100%);/*borda apresenta um gradiente de cores*/
    border-radius:50%;/*tamanho do raio da borda*/
    padding:4px;/*largura da borda*/
    display: flex;/*deixa os elementos lado a lado*/
    transition: transform .3s;/*tempo da animação*/
}

header div:hover {
    transform:scale(1.1) ;
}

header div img{
    width: 100%;
    border-radius: 50%;
}

main{
    max-width:560px;
    width:90%;
    margin: 32px auto;
    display: grid;
    gap:24px;
}

section{
    color: white;
    background: linear-gradient(90deg, rgba(136,131,226,1) 26%, rgba(0,212,255,1) 100%);
    padding-top: 4px;
    border-radius: 10px;
}
section div {
    background-color: #2A2634; 
    padding: 32px;
    padding-top:24px ;
    border-radius:8px ;
}
section h2 {
    letter-spacing: -0.47px;
}


section p{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.18px;
    color: #C1C1C1;
    
}

section ul{
    display: flex; /* coloca os itens da lista um ao lado do outro*/
    flex-wrap: wrap;/*define os itens flexíveis, os itens são forçados a ficare em uma so linha ou podem ser quebrados em varias linhas*/
    gap: 16px;/* usado para define o espaçamento entre as linhas e colunas*/
    margin-top:24px;/* espaçamento entre os itens da coluna e o <p>*/
}

section ul li {
    transition: transform .3s;
}

section ul li:hover{/* hover ocorre um efeito quando colocamos o cursor do mouse sobre algo*/
    transform: scale(1.1);
}

.films-list img{
   border-radius: 8px; /* arredondamento das bordas*/
   width: 100px;
   border: 1px solid #555555;
   
}
.series-list img{
    border-radius: 8px; /* arredondamento das bordas*/
    width: 100px;
    border: 1px solid #555555;
 }

 /* animation*/
 
 header div{
    animation: fromTop .7s .4s backwards;
    
}
main section{
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;

}

main section:nth-child(2) {
    animation-delay: .2s;

}

main section:nth-child(3) {
    animation-delay:.4s ;
}

@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from{
        opacity: 0;
        transform: translatex(-30px);
    }

    to{
        opacity: 1;
        transform: translatex(0);
    } 
}